.about {
  position: relative;
  z-index: 3;
  padding-top: 150px;
  padding-bottom: 231px;
  clip-path: polygon(0 7%, 100% 0%, 100% 100%, 0% 88%);
  background: linear-gradient(
    180deg,
    rgba(125, 11, 0, 0.5) 18.2%,
    #c81200 76.03%
  );
  @media (max-width: 1720px) {
    padding-top: 110px;
    padding-bottom: 134px;
  }
  @media (max-width: 992px) {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  @media (max-width: 576px) {
    padding-top: 44px;
    clip-path: polygon(0 7%, 100% 0%, 100% 96%, 0% 91%);
  }
}
.about::before {
  position: absolute;
  top: -60px;
  right: 0;
  left: 0;
  display: block;
  width: 92%;
  height: 390px;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  content: "";
  background-image: url("../img/common/arrow-bg.svg");
  background-position: left top;
  transform: rotate(356deg);
  @media (max-width: 1920px) {
    width: 100%;
    height: 250px;
    background-size: 160px;
  }
  @media (max-width: 992px) {
    top: -70px;
    height: 180px;
    background-size: 90px;
  }
}
.about__container {
  max-width: 1800px;
  @media (max-width: 1720px) {
    max-width: 1050px;
  }
  @media (max-width: 992px) {
    max-width: 580px;
  }
}

.about__title {
  margin-bottom: 30px;
  @media (max-width: 1720px) {
    margin-bottom: 10px;
  }
}
.about__title::before,
.about__title::after {
  display: none;
}

.about-card {
  position: relative;
  z-index: 1;
  padding-bottom: 86px;
  @media (max-width: 1720px) {
    padding-bottom: 36px;
  }
  @media (max-width: 992px) {
    padding-bottom: 15px;
  }
}
.about-card::before {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 75%;
  clip-path: polygon(0 1%, 98% 12%, 100% 100%, 1% 100%);
  content: "";
  background: rgba(0, 0, 0, 0.2);
}
.about-card__pic {
  display: block;
  max-width: 1088px;
  margin-right: auto;
  margin-bottom: -30px;
  margin-left: auto;
  @media (max-width: 1720px) {
    max-width: 628px;
    margin-bottom: -20px;
  }
  @media (max-width: 992px) {
    max-width: 338px;
    margin-bottom: -10px;
  }
  @media (max-width: 576px) {
    width: calc(100% + 40px);
    max-width: 420px;
    margin-left: -20px;
  }
}

.about-card__img {
  display: block;
}
.about-card__title {
  margin-bottom: 38px;
  font-family: "Inter", sans-serif;
  font-size: 90px;
  font-style: italic;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  @media (max-width: 1720px) {
    margin-bottom: 15px;
    font-size: 50px;
  }
  @media (max-width: 992px) {
    margin-bottom: -2px;
    font-size: 28px;
  }
}

.about-card__button {
  display: block;
  width: 100%;
  max-width: 735px;
  padding: 33px;
  margin-right: auto;
  margin-left: auto;
  clip-path: polygon(0 9%, 100% 0%, 96% 100%, 2% 100%);
  clip-path: polygon(0 2%, 100% 0%, 96% 100%, 2% 100%);
  font-family: "Inter", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 600;
  line-height: 42px;
  color: #ffffff;
  text-align: center;
  background-color: transparent;
  background-image: url("../img/common/button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.3s;
  @media (max-width: 1720px) {
    max-width: 415px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 20px;
  }
  @media (max-width: 992px) {
    max-width: 226px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 14px;
  }
}

.about-card__button:hover {
  @media (any-hover: hover) {
    color: #000;
    background-color: #fff;
  }
}
