.faq {
  position: relative;
  padding-top: 130px;
  padding-bottom: 350px;
  margin-top: -190px;
  background-color: #c81201;
  @media (max-width: 1920px) {
    padding-top: 144px;
    padding-bottom: 199px;
  }
  @media (max-width: 992px) {
    padding-top: 164px;
    padding-bottom: 106px;
  }
  @media (max-width: 576px) {
    padding-bottom: 67px;
  }
}
.faq::after {
  position: absolute;
  right: 0;
  bottom: -110px;
  left: 0;
  display: block;
  width: 88%;
  height: 400px;
  margin-right: auto;
  margin-left: auto;
  pointer-events: none;
  content: "";
  background-image: url("../img/common/arrow-bg.svg");
  background-position: left top;
  transform: rotate(356deg);
  @media (max-width: 1920px) {
    bottom: -210px;
    height: 370px;
    background-size: 160px;
  }
  @media (max-width: 992px) {
    bottom: -130px;
    width: 100%;
    height: 220px;
    background-size: 90px;
  }
}
.faq__container {
  max-width: 1510px;
  @media (max-width: 576px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.faq__title {
  margin-bottom: 95px;
  @media (max-width: 1920px) {
    margin-bottom: 55px;
  }
  @media (max-width: 992px) {
    margin-bottom: 25px;
  }
  @media (max-width: 576px) {
    margin-bottom: 18px;
  }
}
.faq__title::before,
.faq__title::after {
  display: none;
}

.faq__cards {
  margin-right: auto;
  margin-left: auto;
  @media (max-width: 1920px) {
    max-width: 840px;
  }
  @media (max-width: 992px) {
    max-width: 450px;
  }
}
.faq-card {
  margin-bottom: 28px;
  color: #000;
  background-color: #fff;
  --padding-horizontal: 120px;
  @media (max-width: 1920px) {
    --padding-horizontal: 60px;
    margin-bottom: 18px;
  }
  @media (max-width: 992px) {
    --padding-horizontal: 30px;
    margin-bottom: 11px;
  }
  @media (max-width: 576px) {
    --padding-horizontal: 11px;
  }
}
.faq-card:last-of-type {
  margin-bottom: 0;
}

.faq-card__top {
  position: relative;
  padding: 7px var(--padding-horizontal);
  @media (max-width: 1920px) {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  @media (max-width: 922px) {
    padding-top: 1px;
    padding-bottom: 1px;
  }
}
.faq-card__top::before,
.faq-card__top::after {
  position: absolute;
  top: 50%;
  right: 125px;
  display: block;
  width: 20px;
  height: 8px;
  content: "";
  background-color: #000;
  transition: all 0.2s ease-in;
  transform: translateY(-50%);
  @media (max-width: 1920px) {
    right: 60px;
    width: 16px;
    height: 6px;
  }
  @media (max-width: 992px) {
    right: 35px;
    width: 8px;
    height: 2px;
  }
  @media (max-width: 576px) {
    right: 8px;
  }
}
.faq-card__top::after {
  transform: translateY(-50%) rotate(90deg);
}
.faq-card__question {
  font-size: 48px;
  font-weight: 700;
  color: #000000;
  @media (max-width: 1920px) {
    font-size: 26px;
  }
  @media (max-width: 992px) {
    font-size: 15px;
  }
  @media (max-width: 576px) {
    max-width: 90%;
  }
}
.faq-card__bottom {
  padding: 7px var(--padding-horizontal);
  padding-bottom: 40px;
}

.faq-card__bottom h4 {
  margin-bottom: 19px;
  font-size: 48px;
  color: #000000;
  @media (max-width: 1920px) {
    font-size: 27px;
  }
  @media (max-width: 992px) {
    font-size: 14px;
  }
}

.faq-card__bottom ul {
  padding-left: 20px;
  margin-bottom: 20px;
}
.faq-card__bottom li,
.faq-card__bottom p {
  position: relative;
  font-size: 30px;
  @media (max-width: 1920px) {
    font-size: 17px;
  }
  @media (max-width: 992px) {
    font-size: 13px;
  }
}
.faq-card__bottom ul li::before {
  position: absolute;
  left: -15px;
  content: "●";
}

.bayan--opened .faq-card__top::after {
  transform: translateY(-50%);
}
