.header {
  position: fixed;
  top: 80px;
  right: 0;
  left: 0;
  z-index: 100;
  max-width: 1995px;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-right: auto;
  margin-left: auto;
  clip-path: polygon(0 2%, 100% 8%, 98% 88%, 3% 100%);
  background-color: #000000;
  transition: all 0.3s ease;
  @media (max-width: 1920px) {
    top: 40px;
    max-width: 1125px;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  @media (max-width: 992px) {
    top: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  @media (max-width: 576px) {
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    clip-path: none;
  }
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 100%;
  padding-right: 130px;
  @media (max-width: 1920px) {
    padding-right: 70px;
  }
  @media (max-width: 992px) {
    padding-right: 55px;
  }
  @media (max-width: 576px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.header__logo {
  max-width: 295px;
  margin-right: 110px;
  transition: all 0.3s;
  @media (max-width: 1920px) {
    max-width: 165px;
    margin-right: 61px;
  }
  @media (max-width: 992px) {
    max-width: 102px;
    margin-right: 31px;
  }
  @media (max-width: 576px) {
    position: relative;
    z-index: 2;
    margin-right: auto;
    margin-bottom: -45px;
  }
}

.header__nav {
  @media (max-width: 576px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translateY(-120%);
  }
}
.header--opened .header__nav {
  @media (max-width: 576px) {
    pointer-events: initial;
    background: rgba(0, 0, 0, 0.9);
    transform: translateY(0);
  }
}
.header__nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: 576px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.header__nav-item {
  --fz: 25px;
  margin-right: 58px;
  @media (max-width: 1920px) {
    margin-right: 28px;
    --fz: 14px;
  }
  @media (max-width: 992px) {
    --fz: 12px;
    margin-right: 10px;
  }
  @media (max-width: 576px) {
    height: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.header__nav-item:last-child {
  margin-right: 0;
  @media (max-width: 576px) {
    margin-bottom: 0;
  }
}
.header__nav-link {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 27px;
  font-size: var(--fz);
  color: #fff;
  @media (max-width: 1920px) {
    padding: 0 17px;
  }
  @media (max-width: 992px) {
    padding: 0 8px;
  }
}

.header__burger {
  position: relative;
  z-index: 2;
  @media (min-width: 577px) {
    display: none;
  }
}

.header--scrolled {
  @media (min-width: 577px) {
    top: 0;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
.header--scrolled .header__container {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 1921px) {
    max-width: 1750px;
  }
}
.header--scrolled .header__logo {
  @media (min-width: 577px) {
    max-width: 193px;
    @media (max-width: 1920px) {
      max-width: 108px;
    }
    @media (max-width: 992px) {
      max-width: 54px;
    }
  }
}
