.hero {
  padding-top: 300px;
  background-color: #c93515;
  background-image: url("../img/hero/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 1920px) {
    padding-top: 140px;
  }
  @media (max-width: 1720px) {
    padding-top: 190px;
  }
  @media (max-width: 992px) {
    padding-top: 70px;
  }
  @media (max-width: 768px) {
    padding-top: 87px;
  }
  @media (max-width: 576px) {
    padding-top: 45px;
  }
}

.hero__container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  max-width: 2150px;
  padding-right: 0;
  padding-left: 0;
  margin-left: 0;
  @media (max-width: 1920px) {
    max-width: 1750px;
  }
  @media (max-width: 1720px) {
    max-width: 1250px;
  }
  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.hero__figure {
  position: relative;
  max-width: 995px;
  @media (max-width: 1920px) {
    max-width: 750px;
    height: 870px;
  }
  @media (max-width: 1720px) {
    max-width: 589px;
    height: 670px;
  }
  @media (max-width: 1200px) {
    max-width: 500px;
    height: 550px;
  }
  @media (max-width: 992px) {
    max-width: 450px;
    height: 480px;
  }
  @media (max-width: 768px) {
    max-width: 400px;
    height: 410px;
  }
  @media (max-width: 576px) {
    max-width: 450px;
    height: 500px;
    margin-right: auto;
    transform: translateX(-60px);
  }
  @media (max-width: 335px) {
    max-width: 360px;
    height: 350px;
  }
}
.hero__figure::before {
  position: absolute;
  top: 280px;
  left: 330px;
  z-index: 2;
  display: block;
  width: 88px;
  height: 109px;
  content: "";
  background-image: url("../img/hero/cracker-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 1720px) {
    top: 154px;
    left: 185px;
    width: 49px;
    height: 62px;
  }
  @media (max-width: 768px) {
    top: 97px;
    left: 89px;
    width: 38px;
    height: 40px;
  }
}
.hero__pic {
  position: relative;
  z-index: 3;
  display: block;
  width: 100%;
  height: 100%;
}
.hero__pic::before {
  position: absolute;
  top: 40%;
  right: -150px;
  z-index: 2;
  display: block;
  width: 118px;
  height: 129px;
  content: "";
  background-image: url("../img/hero/cracker-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 1720px) {
    right: -90px;
    width: 77px;
    height: 79px;
  }
  @media (max-width: 992px) {
    right: -40px;
  }
  @media (max-width: 768px) {
    top: 42%;
    right: -50px;
    width: 67px;
    height: 47px;
  }
  @media (max-width: 576px) {
    top: 34%;
    right: -40px;
    width: 67px;
    height: 37px;
  }
}
.hero__pic::after {
  position: absolute;
  right: -190px;
  bottom: 24%;
  z-index: 2;
  display: block;
  width: 158px;
  height: 169px;
  content: "";
  background-image: url("../img/hero/cracker-3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  @media (max-width: 1720px) {
    right: -110px;
    bottom: 23%;
    width: 99px;
    height: 102px;
  }
  @media (max-width: 992px) {
    right: -80px;
  }
  @media (max-width: 768px) {
    right: -77px;
    bottom: 21%;
    width: 99px;
    height: 62px;
  }
  @media (max-width: 576px) {
    right: -44px;
    bottom: 13%;
    width: 49px;
    height: 52px;
  }
}
.hero__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: left bottom;
}

.hero__button {
  position: absolute;
  right: 10px;
  bottom: 200px;
  z-index: 4;
  // transform: translate(-26px, -197px);
  display: block;
  width: 100%;
  max-width: 540px;
  padding: 30px;
  margin-right: 0;
  margin-bottom: -100px;
  margin-left: auto;
  clip-path: polygon(0 2%, 100% 8%, 98% 88%, 3% 100%);
  font-size: 35px;
  font-weight: 700;
  line-height: 40px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: #000;
  transition: all 0.3s;
  @media (max-width: 1720px) {
    right: -20px;
    bottom: 40px;
    max-width: 304px;
    padding: 10px 16px;
    font-size: 20px;
    transform: translate(-26px, -100px);
  }
  @media (max-width: 768px) {
    bottom: 22px;
    max-width: 190px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
  }
  @media (max-width: 576px) {
    bottom: 55px;
  }
  @media (max-width: 335px) {
    bottom: -15px;
  }
}
.hero__button:hover {
  @media (any-hover: hover) {
    color: #000;
    background-color: #fff;
  }
}

.hero-offer {
  width: 100%;
  max-width: 727px;
  padding-top: 130px;
  padding-bottom: 48px;
  margin-left: auto;
  @media (max-width: 1720px) {
    max-width: 486px;
    padding-top: 70px;
    padding-bottom: 28px;
  }
  @media (max-width: 1200px) {
    max-width: 400px;
  }
  @media (max-width: 992px) {
    padding-left: 60px;
  }
  @media (max-width: 768px) {
    max-width: 300px;
    padding-top: 40px;
    padding-right: 40px;
    padding-left: 0;
  }
  @media (max-width: 576px) {
    max-width: 280px;
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 3px;
    margin-right: auto;
    margin-left: auto;
  }
}
.hero-offer__date {
  max-width: 360px;
  margin-right: auto;
  margin-bottom: 51px;
  margin-left: auto;
  @media (max-width: 1720px) {
    max-width: 202px;
    margin-bottom: 31px;
  }
  @media (max-width: 768px) {
    max-width: 127px;
    margin-bottom: 18px;
  }
  @media (max-width: 576px) {
    margin-bottom: 8px;
  }
}

.hero-offer__date-pic {
  display: block;
  width: 100%;
  height: 100%;
}
.hero-offer__date-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-offer__title {
  max-width: 617px;
  margin-right: auto;
  margin-bottom: 29px;
  margin-left: auto;
  @media (max-width: 1920px) {
    max-width: 346px;
    margin-bottom: 19px;
  }
  @media (max-width: 992px) {
    max-width: 218px;
    margin-bottom: 10px;
  }
}
.hero-offer__title-pic {
  display: block;
  width: 100%;
  height: 100%;
}
.hero-offer__title-img {
  object-fit: contain;
  display: block;
  width: 100%;
  height: 100%;
}

.hero-offer__subtitle {
  text-align: left;
  @media (max-width: 1720px) {
    margin-bottom: 7px;
  }
  @media (max-width: 576px) {
    text-align: center;
  }
}
.hero-offer__subtitle::before,
.hero-offer__subtitle::after {
  display: none;
}

.hero-offer__desc {
  margin-bottom: 25px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  @media (max-width: 1720px) {
    max-width: 470px;
    margin-bottom: 0;
    font-size: 14px;
  }
  @media (max-width: 768px) {
    font-size: 8px;
  }
  @media (max-width: 576px) {
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
  }
}
.hero-offer__desc:last-of-type {
  margin-bottom: 22px;
  @media (max-width: 1720px) {
    margin-bottom: -28px;
  }
}

.hero-offer__logos {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @media (max-width: 576px) {
    justify-content: center;
  }
}
.hero-offer__logo-pic {
  width: 144px;
  margin-right: 36px;
  @media (max-width: 1720px) {
    width: 80px;
  }
  @media (max-width: 768px) {
    width: 50px;
    max-height: 70px;
    margin-right: 26px;
  }
}
.hero-offer__logo-pic:last-of-type {
  margin-right: 0;
}
.hero-offer__logo-img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
