.teams {
  position: relative;
  z-index: 2;
  padding-top: 224px;
  padding-bottom: 189px;
  margin-top: -160px;
  clip-path: polygon(0 0%, 100% 0%, 100% 86%, 0% 97%);
  background-color: #000;
  background-image: url("../img/teams/teams-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (max-width: 1920px) {
    padding-top: 194px;
    padding-bottom: 79px;
  }
  @media (max-width: 992px) {
    padding-top: 174px;
    padding-bottom: 69px;
  }
}

.teams__title {
  max-width: 800px;
  margin-bottom: 80px;
  @media (max-width: 1920px) {
    max-width: 490px;
    margin-bottom: 40px;
  }
  @media (max-width: 992px) {
    max-width: 310px;
    margin-bottom: 30px;
  }
}

.teams__title::after {
  top: -80px;
  @media (max-width: 1920px) {
    top: -40px;
  }
  @media (max-width: 992px) {
    top: -20px;
  }
}

.teams__gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  @media (max-width: 1920px) {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (max-width: 992px) {
    max-width: 500px;
  }
}
.teams-card {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 262px;
  margin-right: 18px;
  margin-left: 18px;
  @media (max-width: 1920px) {
    max-width: 162px;
    margin-right: 10px;
    margin-left: 10px;
  }
  @media (max-width: 992px) {
    max-width: 72px;
  }
}
